In [237]:
import pandas as pd
import numpy as np

In [238]:
df_matches = pd.read_csv("match_table.csv")
df_players = pd.read_csv("player_table.csv")

### Matches Dataframe

In [239]:
#Assign a random venue to the matches
venue_options = ['Cancha Gool de Oro', 'Cancha UIS', 'Cancha UNAB', 'Cancha UPB', 'Recrear XYZ']
df_matches['venue'] = np.random.choice(venue_options, size=len(df_matches))

In [240]:
#Assing a random number of goals to each match
rand_goal1 = np.random.randint(1, 35, size=len(df_matches))
rand_goal2 = np.random.randint(1, 35, size=len(df_matches))

result = [f"{a} - {b}" for a, b in zip(rand_goal1, rand_goal2)]

df_matches['final_result'] = result

In [241]:
# Assign a random MVP to each match
players = df_players['player'].values
df_matches['mvp'] = np.random.choice(players, size=len(df_matches))

In [242]:
# Assign the values for total goals and assists each match
df_matches['goals'] = rand_goal1 + rand_goal2
df_matches['assists'] = np.random.randint(df_matches['goals']*.20, df_matches['goals'], size=len(df_matches))

In [243]:
# Set fixed data
old1 = {'date': '25 marzo', 'venue': 'Cancha Gool de Oro', 'final_result': '8-10', 'mvp': 'J. Ramirez', 'goals': 18, 'assists': 12, 'in': 80000}
old2 = {'date': '14 abril', 'venue': 'Cancha Gool de Oro', 'final_result': '15-13', 'mvp': 'L. Machado', 'goals': 28, 'assists': 26, 'in': 80000}

df_matches.loc[0] = old1
df_matches.loc[1] = old2

### Players Dataframe

In [244]:
total_goals = df_matches['goals'].sum()
total_assists = df_matches['assists'].sum()
print(f"Total goals: {total_goals}")
print(f"Total assists: {total_assists}")

Total goals: 1493
Total assists: 785

In [245]:
# Count all times the players have been MVP
mvp_counts = df_matches['mvp'].value_counts()
df_players['mvp'] = df_matches['mvp'].map(mvp_counts).fillna(0).astype(int)

In [246]:
# Generate values that sum the total goals and assits
player_goal = np.random.uniform(0, total_goals, df_players.shape[0])
player_assists = np.random.uniform(0, total_assists, df_players.shape[0])

# Adjust the values to sum the total goals
player_goal_adj = np.round(player_goal / player_goal.sum() * total_goals)
player_assist_adj = np.round(player_assists / player_assists.sum() * total_assists)

In [247]:
# Assign the values to the players
df_players['goals'] = player_goal_adj
df_players['assists'] = player_assist_adj
df_players['participation'] = df_players['goals'] + df_players['assists']
df_players['points'] = df_players['goals'] * 2 + df_players['assists'] + df_players['mvp'] * 3
df_players['efficiency'] = np.round(df_players['points'] / len(df_matches), 2)

df_players

         player  goals  assists  participation  mvp  points  efficiency
0    L. Machado  118.0    102.0          220.0    5   353.0        7.67
1    J. Ramirez  135.0      0.0          135.0    5   285.0        6.20
2   W. Velandia  146.0     30.0          176.0    3   331.0        7.20
3       J. Rozo  205.0     14.0          219.0    4   436.0        9.48
4      D. Plata  127.0     89.0          216.0    5   358.0        7.78
5   A. Granados  166.0    108.0          274.0    4   452.0        9.83
6      R. L칩pez   11.0    165.0          176.0    4   199.0        4.33
7      D. Amado   73.0     65.0          138.0    5   226.0        4.91
8      G. Ojeda  172.0     27.0          199.0    5   386.0        8.39
9   D. Tarazona  155.0    128.0          283.0    5   453.0        9.85
10     C. Dur치n  185.0     56.0          241.0    5   441.0        9.59