In [272]:
import pandas as pd
import numpy as np

In [273]:
df_matches = pd.read_csv("match_table.csv")
df_players = pd.read_csv("player_table.csv")

### Matches Dataframe

In [274]:
#Assign a random venue to the matches
venue_options = ['Cancha Gool de Oro', 'Cancha UIS', 'Cancha UNAB', 'Cancha UPB', 'Recrear XYZ']
df_matches['venue'] = np.random.choice(venue_options, size=len(df_matches))

In [275]:
#Assing a random number of goals to each match
rand_goal1 = np.random.randint(1, 35, size=len(df_matches))
rand_goal2 = np.random.randint(1, 35, size=len(df_matches))

result = [f"{a} - {b}" for a, b in zip(rand_goal1, rand_goal2)]

df_matches['final_result'] = result

In [276]:
# Assign a random MVP to each match
players = df_players['player'].values
df_matches['mvp'] = np.random.choice(players, size=len(df_matches))

In [277]:
# Assign the values for total goals and assists each match
df_matches['goals'] = rand_goal1 + rand_goal2
df_matches['assists'] = np.random.randint(df_matches['goals']*.20, df_matches['goals'], size=len(df_matches))

In [278]:
# Set fixed data
old1 = {'date': '25 marzo', 'venue': 'Cancha Gool de Oro', 'final_result': '8-10', 'mvp': 'J. Ramirez', 'goals': 18, 'assists': 12, 'in': 80000}
old2 = {'date': '14 abril', 'venue': 'Cancha Gool de Oro', 'final_result': '15-13', 'mvp': 'L. Machado', 'goals': 28, 'assists': 26, 'in': 80000}

df_matches.loc[0] = old1
df_matches.loc[1] = old2
df_matches.head(5)

,date,venue,final_result,mvp,goals,assists,in
0,25 marzo,Cancha Gool de Oro,8-10,J. Ramirez,18,12,80000
1,14 abril,Cancha Gool de Oro,15-13,L. Machado,28,26,80000
2,27 abril,Cancha Gool de Oro,12 - 7,L. Machado,19,5,80000
3,4 mayo,Cancha UPB,13 - 15,J. Rozo,28,15,80000
4,11 mayo,Recrear XYZ,22 - 22,L. Machado,44,33,80000

### Players Dataframe

In [279]:
total_goals = df_matches['goals'].sum()
total_assists = df_matches['assists'].sum()
print(f"Total goals: {total_goals}")
print(f"Total assists: {total_assists}")

Total goals: 1579
Total assists: 893

In [280]:
# Count all times the players have been MVP
mvp_counts = df_matches['mvp'].value_counts()
df_players['mvp'] = df_matches['mvp'].map(mvp_counts).fillna(0).astype(int)

In [281]:
# Generate values that sum the total goals and assits
player_goal = np.random.uniform(0, total_goals, df_players.shape[0])
player_assists = np.random.uniform(0, total_assists, df_players.shape[0])

# Adjust the values to sum the total goals
player_goal_adj = np.round(player_goal / player_goal.sum() * total_goals)
player_assist_adj = np.round(player_assists / player_assists.sum() * total_assists)

In [282]:
# Assign the values to the players
df_players['goals'] = player_goal_adj
df_players['assists'] = player_assist_adj
df_players['participation'] = df_players['goals'] + df_players['assists']
df_players['points'] = df_players['goals'] * 2 + df_players['assists'] + df_players['mvp'] * 3
df_players['efficiency'] = np.round(df_players['points'] / len(df_matches), 2)

df_players

         player  goals  assists  participation  mvp  points  efficiency
0    L. Machado   35.0    120.0          155.0    5   205.0        4.46
1    J. Ramirez  288.0     22.0          310.0    7   619.0       13.46
2   W. Velandia  137.0     58.0          195.0    7   353.0        7.67
3       J. Rozo  212.0    128.0          340.0    8   576.0       12.52
4      D. Plata   41.0     84.0          125.0    7   187.0        4.07
5   A. Granados  139.0     33.0          172.0    4   323.0        7.02
6      R. L칩pez   76.0    137.0          213.0    8   313.0        6.80
7      D. Amado  230.0    106.0          336.0    3   575.0       12.50
8      G. Ojeda  202.0     94.0          296.0    4   510.0       11.09
9   D. Tarazona   29.0     62.0           91.0    2   126.0        2.74
10     C. Dur치n  190.0     50.0          240.0    1   433.0        9.41

In [284]:
df_matches.to_csv("final_match_table.csv", index=False)
df_players.to_csv("final_player_table.csv", index=False)